<div class="row">

  <div class="span1 offset1 controls">
    <%= @control1 %>
  </div>
  <div class="span1">
    <%= @op_controls %>
  </div>
  <div class="span1 offset1 controls">
    <%= @control2 %>
  </div>

  <div class="span3 ">
    <div class="operand">
      <%= @num1 %>
    </div>
    <div class="operator">
      <%= @operator %>
    </div>
    <div class="operand">
      <%= @num2 %>
    </div>
  </div>
  <div class="span4">
    <div class="result">
      <%= @result %>
    </div>
  </div>
</div>
